<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Sign Up</title>
</head>
<body>
  <%- include('../partials/_navbar.ejs') %>

  <h1>Welcome to Users!</h1>

  <% if (users.length > 0) { %>
    <h3>users</h3>
    <ul>
      <% users.forEach(function(user) { %>
        <li>
            <a href="/users/<%= user._id %>"><%= user.username %></a>
        </li>
      <% }) %>
      </ul>
  <% } else { %>
    <p>No chefs in your kitchen yet!</p>
  <% } %>
</body>
</html>
